@inherits SingleButtonBase

@namespace Sidea.SemanticUI.Blazor

@using Microsoft.AspNetCore.Components.Web;

<button type="@ButtonTypeAttribute()"
        class="@Class()"
        disabled="@Disabled"
        @onclick="OnClick">

    @ChildContent
</button>

@code {
    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Button;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private string ButtonTypeAttribute() => this.Type.ToAttribute();
}
