@inherits LayoutComponentBase

    <div class="layout-container">


        <div>
            <Sidebar />
        </div>

        <div>
            <Container>
                @Body
            </Container>
        </div>
    </div>

