<Menu Orientation="Vertical">

    <SubMenu>
        <NoLinkItem>
            <h3>
                Collections
            </h3>
        </NoLinkItem>
        <LinkItem Href="Collections/Message">Message</LinkItem>
        <LinkItem Href="Collections/Table">Table</LinkItem>
    </SubMenu>

    <SubMenu>
        <NoLinkItem>
            <h3>
                Modules
            </h3>
        </NoLinkItem>
        <LinkItem Href="Modules/Dimmer">Dimmer</LinkItem>
    </SubMenu>

</Menu>
