<Menu Orientation="Vertical"
      Decorations="MenuDecorations.Inverted">

    <SubMenu>
        <Item>
            <h3>
                Elements
            </h3>
        </Item>
        <LinkItem Href="Elements/Header">Header</LinkItem>
        <LinkItem Href="Elements/Image">Image</LinkItem>
        <LinkItem Href="Elements/Input">Input</LinkItem>
        <LinkItem Href="Elements/List">List</LinkItem>
        <LinkItem Href="Elements/Step">Step</LinkItem>
    </SubMenu>

    <SubMenu>
        <Item>
            <h3>
                Collections
            </h3>
        </Item>

        <LinkItem Href="Collections/Grid">Grid</LinkItem>
        <LinkItem Href="Collections/Message">Message</LinkItem>
        <LinkItem Href="Collections/Table">Table</LinkItem>
    </SubMenu>

    <SubMenu>
        <Item>
            <h3>
                Modules
            </h3>
        </Item>
        <LinkItem Href="Modules/Dimmer">Dimmer</LinkItem>
        <LinkItem Href="Modules/Modal">Modal</LinkItem>
    </SubMenu>

</Menu>
