@page "/"

<h3>Index</h3>

<Segment>
    Navigate to anywhere
</Segment>

@*<Segment>
    <SeInput Decorations="LabeledRight | InputDecorations.Icon">
        <Left>
            <Icon Name="tags" />
        </Left>
        <Right>
            <a class="ui tag label">
                Add Tag
            </a>
        </Right>
    </SeInput>
</Segment>*@

@code {

}
