<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SemanticUI.TagHelpers.Sample</title>
    <link rel="stylesheet" href="/sidea-core/semantic-ui/semantic.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div>
            <partial name="_SidebarPartial" />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
