<sui-menu orientation="Vertical"
          decorations="Inverted">
    <sui-submenu>
        <sui-menuItem>
            <h3>Elements</h3>
        </sui-menuItem>
        <sui-linkItem href="/Elements/Button">
            Button
        </sui-linkItem>
        <sui-linkItem href="/Elements/Icon">
            Icon
        </sui-linkItem>
        <sui-linkItem href="/Elements/Label">
            Label
        </sui-linkItem>
        <sui-linkItem href="/Elements/Segment">
            Segment
        </sui-linkItem>
    </sui-submenu>

    <sui-submenu>
        <sui-menuItem>
            <h3>Collections</h3>
        </sui-menuItem>
        <sui-linkItem href="/Collections/Message">
            Message
        </sui-linkItem>
    </sui-submenu>
</sui-menu>

@{
}
