<sui-menu orientation="Vertical">
    <sui-submenu>
        <sui-menuItem>
            <h3>Elements</h3>
        </sui-menuItem>
        <sui-linkItem href="/Elements/Button">
            Button
        </sui-linkItem>
        <sui-linkItem href="/Elements/Segment">
            Segment
        </sui-linkItem>
    </sui-submenu>
</sui-menu>

@{
}
