@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public List(): base("list")
    {
    }

    [Parameter]
    public ListDecorations Decorations { get; set; }

    [Parameter]
    public Orientation Orientation { get; set; }

    [Parameter]
    public Size Size { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Decorations.ToClass();
        yield return this.Orientation.ToClass();
        yield return this.Size.ToClass();
    }
}
