@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public ImageDiv() : base("image")
    {
    }

    [Parameter]
    public ImageDecorations Decorations { get; set; }

    [Parameter]
    public Size Size { get; set; }

    [Parameter]
    public Position VerticallyAligned { get; set; }

    [Parameter]
    public Position Spaced { get; set; }

    [Parameter]
    public Position Floated { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Decorations.ToClass();
        yield return this.Size.ToClass();
        yield return this.VerticallyAligned.ToVerticalAlignmentClass();
        yield return this.Spaced.ToSpacedClass();
        yield return this.Floated.ToFloatedClass();
    }
}
