@inherits SemanticComponent

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Fields(): base("fields")
    {
    }

    [Parameter]
    public Amount Count { get; set; }

    [Parameter]
    public bool Inline { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Count.ToClass(string.Empty);
        yield return "inline".ToClassIf(this.Inline);
    }
}
