@inherits SemanticComponent

<div class="@Class()" @attributes="@Attributes()">
    @ChildContent
</div>

@code {
    public Field(): base("field", prefixUiClass: false)
    {
    }

    [Parameter]
    public bool HasError { get; set; }

    [Parameter]
    public Amount Wide { get; set; }

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public EditState State { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.State.ToClass();
        yield return this.Wide.ToClass("wide");
        yield return "required".ToClassIf(this.Required);
        yield return "error".ToClassIf(this.HasError);
    }
}
