@inherits SemanticComponent

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Form() : base("form")
    {
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Size Size { get; set; }

    [Parameter]
    public Severity Severity { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Size.ToClass();
        yield return this.Severity.ToClass();
    }
}
