@page

<h1>Form</h1>

<sui-form>
    <sui-field>
        <label>First Name</label>
        <input type="text" name="first-name" placeholder="First Name">
    </sui-field>
    <sui-field>
        <label>Last Name</label>
        <input type="text" name="first-name" placeholder="Last Name">
    </sui-field>

    <sui-field>
        <div class="ui checkbox">
            <input type="checkbox" tabindex="0">
            <label>I agree to the Terms and Conditions</label>
        </div>
    </sui-field>

    <sui-button type="submit">Submit</sui-button>
</sui-form>