@page

<h1>Grid</h1>

<sl-example header="Grids">

    <sui-grid>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
    </sui-grid>
</sl-example>

<sl-example header="Columns"
            text="Grids divide horizontal space into indivisible units called 'columns'. All columns in a grid must specify their width as proportion of the total available row width.">

    <sui-grid>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Four">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Two">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Eight">
            <sl-placeholder />
        </sui-column>
        <sui-column wide="Six">
            <sl-placeholder />
        </sui-column>
    </sui-grid>
</sl-example>

<sl-example header="Rows"
            text="Rows are groups of columns which are aligned horizontally.">
    <sui-grid columns="Four">
        <sui-row>
            <sui-column>
                <sl-placeholder />
            </sui-column>
            <sui-column>
                <sl-placeholder />
            </sui-column>
            <sui-column>
                <sl-placeholder />
            </sui-column>
        </sui-row>

        <sui-row>
            <sui-column>
                <sl-placeholder />
            </sui-column>
            <sui-column>
                <sl-placeholder />
            </sui-column>
            <sui-column>
                <sl-placeholder />
            </sui-column>
            <sui-column>
                <sl-placeholder />
            </sui-column>
        </sui-row>
    </sui-grid>
</sl-example>