@inherits SemanticComponent

<table class="@Class()">
    @ChildContent
</table>

@code {
    public Table() : base("table")
    {
    }

    [Parameter]
    public TableParameters Parameters { get; set; } = Compact | Striped;

    [Parameter]
    public Size Size { get; set; }

    [Parameter]
    public Amount Columns { get; set; }

    [Parameter]
    public Color Color { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Size.ToClass();
        yield return this.Parameters.ToClass();
        yield return this.Columns.ToClass(of: "column");
        yield return this.Color.ToClass();
    }
}
