@inherits SemanticComponent

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Grid(): base("grid")
    {
    }

    [Parameter]
    public Amount Columns { get; set; }

    [Parameter]
    public bool Stackable { get; set; }

    [Parameter]
    public bool IsContainer { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Columns.ToClass("column");
        yield return "stackable".ToClassIf(this.Stackable);
    }

    protected override IEnumerable<string> AfterCssNameClasses()
    {
        return base
            .AfterCssNameClasses()
            .Concat(new[] { this.IsContainer.ToClassIf("container") })
            ;
    }
}
