@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Row() : base("row", false)
    {
    }

    [Parameter]
    public Position Alignment { get; set; }

    [Parameter]
    public Amount Columns { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Alignment.ToAlignmentClass();
        yield return this.Columns.ToClass("columns");
    }
}