@page "/Collections/Message"

<h1>Message</h1>

<div>
    <h4>Mesage</h4>
    <span>A basic message</span>
    <Message Header="Changed in Service"
             Content="We just updated our privacy policy here to better service our customers. We recommend reviewing the changes." />
</div>
@code {

}
