@page "/Collections/Table"

<Example Header="Basic"
         Text="A table can reduce its complexity to increase readability.">

    <Table Parameters="Basic">
        <THead>
            <Tr>
                <Td>Name</Td>
                <Td>Status</Td>
                <Td>Notes</Td>
            </Tr>
        </THead>
        <TBody>
            <Tr>
                <Td>John</Td>
                <Td>Approved</Td>
                <Td>None</Td>
            </Tr>
            <Tr>
                <Td>Jamie</Td>
                <Td>Approved</Td>
                <Td>Requires call</Td>
            </Tr>
            <Tr>
                <Td>Jill</Td>
                <Td>Denied</Td>
                <Td>None</Td>
            </Tr>
        </TBody>
    </Table>

    <Table Parameters="VeryBasic">
        <THead>
            <Tr>
                <Td>Name</Td>
                <Td>Status</Td>
                <Td>Notes</Td>
            </Tr>
        </THead>
        <TBody>
            <Tr>
                <Td>John</Td>
                <Td>Approved</Td>
                <Td>None</Td>
            </Tr>
            <Tr>
                <Td>Jamie</Td>
                <Td>Approved</Td>
                <Td>Requires call</Td>
            </Tr>
            <Tr>
                <Td>Jill</Td>
                <Td>Denied</Td>
                <Td>None</Td>
            </Tr>
        </TBody>
    </Table>
</Example>

@code {

}
