@page "/Collections/Table"

<Example Header="Basic"
         Text="A table can reduce its complexity to increase readability.">

    <Table Decorations="Basic">
        <THead>
            <Tr>
                <Td>Name</Td>
                <Td>Status</Td>
                <Td>Notes</Td>
            </Tr>
        </THead>
        <TBody>
            <Tr>
                <Td>John</Td>
                <Td>Approved</Td>
                <Td>None</Td>
            </Tr>
            <Tr>
                <Td>Jamie</Td>
                <Td>Approved</Td>
                <Td>Requires call</Td>
            </Tr>
            <Tr>
                <Td>Jill</Td>
                <Td>Denied</Td>
                <Td>None</Td>
            </Tr>
        </TBody>
    </Table>

    <Table Decorations="VeryBasic">
        <THead>
            <Tr>
                <Td>Name</Td>
                <Td>Status</Td>
                <Td>Notes</Td>
            </Tr>
        </THead>
        <TBody>
            <Tr>
                <Td>John</Td>
                <Td>Approved</Td>
                <Td>None</Td>
            </Tr>
            <Tr>
                <Td>Jamie</Td>
                <Td>Approved</Td>
                <Td>Requires call</Td>
            </Tr>
            <Tr>
                <Td>Jill</Td>
                <Td>Denied</Td>
                <Td>None</Td>
            </Tr>
        </TBody>
    </Table>
</Example>

<Example Header="Column Width"
         Text="A table can specify the width of individual columns independently.">
    <Message Severity="Info"
             Content="Tables use a 16 column grid similar to ui grid">

    </Message>
    <Table>
        <THead>
            <Tr>
                <Th Wide="Ten">Name</Th>
                <Th Wide="Six">Status</Th>
            </Tr>
        </THead>
        <TBody>
            <Tr>
                <Td>John</Td>
                <Td>Approved</Td>
            </Tr>
            <Tr>
                <Td>Jamie</Td>
                <Td>Approved</Td>
            </Tr>
            <Tr>
                <Td>Jill</Td>
                <Td>Denied</Td>
            </Tr>
        </TBody>
        <TFoot>
            <Tr>
                <Th>3 People</Th>
                <Th>2 Approved</Th>
            </Tr>
        </TFoot>
    </Table>
</Example>
@code {

}
