@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Content() : base("content", false)
    {
    }

    [Parameter]
    public bool Extra { get; set; }

    [Parameter]
    public Position VerticallyAligned { get; set; }

    [Parameter]
    public Position Floated { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.VerticallyAligned.ToVerticalAlignmentClass();
        yield return this.Floated.ToFloatedClass();
        yield return "extra".ToClassIf(this.Extra);
    }
}
