@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Detail() : base("detail", false)
    {
    }

    protected override IEnumerable<string> Classes()
    {
        yield break;
    }
}