@page

<h1>Cards</h1>

<sl-description header="Card"
                text="A single card"/>

<sui-card>
    <sui-card-content>
        <sui-card-header>
            Kristy
        </sui-card-header>
        <sui-card-meta>
            Joined in 2013
        </sui-card-meta>
        <sui-card-description>
            Kristy is an art director living in New York.
        </sui-card-description>
    </sui-card-content>
    <sui-card-content extra="true">
        <a>
            <sui-icon name="user" />
            22 Friends
        </a>
    </sui-card-content>
</sui-card>