@page

<h1>Cards</h1>

<sl-description header="Card"
                text="A single card"/>

<sui-card>
    <sui-content>
        <sui-header>
            Kristy
        </sui-header>
        <sui-meta>
            Joined in 2013
        </sui-meta>
        <sui-description>
            Kristy is an art director living in New York.
        </sui-description>
    </sui-content>
    <sui-content extra="true">
        <a>
            <sui-icon name="user" />
            22 Friends
        </a>
    </sui-content>
</sui-card>