@page

<h1>Statistic</h1>

<sl-description header="Statistic"
                text="A statistic can display a value with a label above or below it." />

<sui-statistic>
    <sui-statistic-value>
        5,550
    </sui-statistic-value>
    <sui-statistic-label>
        Downloads
    </sui-statistic-label>
</sui-statistic>

<br />

<sui-statistic>

    <sui-statistic-label>
        Views
    </sui-statistic-label>
    <sui-statistic-value>
        40,509
    </sui-statistic-value>
</sui-statistic>

<sl-description header="Statistic Group" 
                text="A group of statistics" />

<sui-statistic-group>
    <sui-statistic>
        <sui-statistic-value>
            22
        </sui-statistic-value>
        <sui-statistic-label>
            Faves
        </sui-statistic-label>
    </sui-statistic>

    <sui-statistic>
        <sui-statistic-value>
            31,200
        </sui-statistic-value>
        <sui-statistic-label>
            Views
        </sui-statistic-label>
    </sui-statistic>

    <sui-statistic>
        <sui-statistic-value>
            22
        </sui-statistic-value>
        <sui-statistic-label>
            Members
        </sui-statistic-label>
    </sui-statistic>
</sui-statistic-group>