@inherits ItemBase
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent

    @if (HasRightIcon)
    {
        <i class="@RightIcon icon"></i>
    }
</div>

@code {
    [Parameter]
    public ItemDecorations Decorations { get; set; }

    protected sealed override IEnumerable<string> Classes()
    {
        return base.Classes().Concat(new[] { this.Decorations.ToClass() });
    }
}
