@page

<h1>Button</h1>


<sl-example header="Button"
            text="A standard button">
    <sui-button>
        Follow
    </sui-button>
</sl-example>

@*<div>
    <sui-button>
        asdfsdafsda
    </sui-button>
</div>*@
@{
}
