@page

<h1>Button</h1>

<sui-segment>
    <sl-example header="test header" text="hasfjkd som as">
        <sui-button>
            First button
        </sui-button>
    </sl-example>
</sui-segment>

@*<div>
    <sui-button>
        asdfsdafsda
    </sui-button>
</div>*@
@{
}
