@page

<h1>Image</h1>

<sl-example header="Rounded"
            text="An image may appear rounded">
    <sui-image decorations="Rounded"
               src="/images/wireframe/square-image.png" />
</sl-example>