@page

<sl-example header="Image"
            text="A list item can contain an image">
    <sui-list>
        <sui-item>
            <img class="ui avatar image" src="/images/avatar/small/rachel.png">
            <sui-content>
                <sui-header>
                    Rachel
                </sui-header>
                <sui-description>
                    Last seen watching <a><b>Arrested Development</b></a> just now.
                </sui-description>
            </sui-content>
        </sui-item>
        <sui-item>
            <img class="ui avatar image" src="/images/avatar/small/lindsay.png">
            <sui-content>
                <sui-header>
                    Lindsay
                </sui-header>
                <sui-description>
                    Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.
                </sui-description>
            </sui-content>
        </sui-item>
        <sui-item>
            <img class="ui avatar image" src="/images/avatar/small/matthew.png">
            <sui-content>
                <sui-header>
                    Matthew
                </sui-header>
                <sui-description>
                    Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.
                </sui-description>
            </sui-content>
        </sui-item>
        <sui-item>
            <img class="ui avatar image" src="/images/avatar/small/jenny.jpg">
            <sui-content>
                <sui-header>
                    Jenny Hess
                </sui-header>
                <sui-description>
                    Last seen watching <a><b>Twin Peaks</b></a> 3 days ago.
                </sui-description>
            </sui-content>
        </sui-item>
    </sui-list>
</sl-example>

@{
}
