@page

<h1>Step</h1>

<sl-description header="Step"
                text="A single step" />

<sui-step-panel>
    <sui-step>
        Shipping
    </sui-step>
</sui-step-panel>

<h1>Groups</h1>

<sl-description header="Steps"
                text="A set of steps" />

<sui-step-panel>
    <sui-step>
        <sui-icon name="truck" />
        <step-content>
            <step-title>
                Shipping
            </step-title>
            <step-description>
                Choose your shipping options
            </step-description>
        </step-content>
    </sui-step>

    <sui-step decorations="Active">
        <sui-icon name="payment" />

        <step-content>
            <step-title>
                Billing
            </step-title>
            <step-description>
                Enter billing information
            </step-description>
        </step-content>
    </sui-step>

    <sui-step decorations="Disabled">
        <sui-icon name="info" />

        <step-content>
            <step-description>
                Confirm order
            </step-description>
        </step-content>
    </sui-step>
</sui-step-panel>


<sl-description header="Ordered"
                text="A step can show a ordered sequence of steps" />

<sui-step-panel decorations="Ordered">
    <sui-step decorations="Completed">
        <step-content>
            <step-title>
                Shipping
            </step-title>
            <step-description>
                Choose your shipping options
            </step-description>
        </step-content>
    </sui-step>

    <sui-step decorations="Completed">
        <step-content>
            <step-title>
                Billing
            </step-title>
            <step-description>
                Enter billing information
            </step-description>
        </step-content>
    </sui-step>

    <sui-step decorations="Active">
        <step-content>
            <step-title>
                Confirm order
            </step-title>
            <step-description>
                Verify order details
            </step-description>
        </step-content>
    </sui-step>
</sui-step-panel>


<sl-description header="Ordered"
                text="A step can show a ordered sequence of steps" />

<sui-step-panel decorations="Vertical">
    <sui-step decorations="Completed">
        <sui-icon name="truck" />
        <step-content>
            <step-title>
                Shipping
            </step-title>
            <step-description>
                Choose your shipping options
            </step-description>
        </step-content>
    </sui-step>

    <sui-step decorations="Completed">
        <sui-icon name="credit card" />
        <step-content>
            <step-title>
                Billing
            </step-title>
            <step-description>
                Enter billing information
            </step-description>
        </step-content>
    </sui-step>

    <sui-step decorations="Active">
        <sui-icon name="info" />
        <step-content>
            <step-title>
                Confirm order
            </step-title>
            <step-description>
                Verify order details
            </step-description>
        </step-content>
    </sui-step>
</sui-step-panel>