@inherits SemanticComponent

<div class="@Class()">
    @ChildContent
</div>

@code {
    public StatisticLabel(): base("label", false)
    {
    }

    protected override IEnumerable<string> Classes()
    {
        yield break;
    }
}
