@inherits SemanticComponent

<div class="@Class()">
    @ChildContent
</div>

@code {
    public StatisticValue(): base("value", false)
    {
    }

    [Parameter]
    public bool IsTextValue { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return "text".ToClassIf(this.IsTextValue);
    }
}
