@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Card() : base("card")
    {
    }

    protected override IEnumerable<string> Classes()
    {
        yield break;
    }
}
