@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public CardsPanel() : base("cards")
    {
    }

    [Parameter]
    public Amount Count { get; set; }

    [Parameter]
    public bool Stackable { get; set; }

    [Parameter]
    public bool Doubling { get; set; }

    protected override IEnumerable<string> Classes()
    {
        yield return this.Count.ToClass(of: string.Empty);
        yield return "stackable".ToClassIf(this.Stackable);
        yield return "doubling".ToClassIf(this.Doubling);
    }
}
