@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public CardHeader() : base("header", prefixUiClass: false)
    {
    }

    protected override IEnumerable<string> Classes()
    {
        yield break;
    }
}