@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public CardMeta() : base("meta", prefixUiClass: false)
    {
    }

    protected override IEnumerable<string> Classes()
    {
        yield break;
    }
}
