@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Segment() : base("segment")
    {
    }

    [Parameter]
    public Color Color { get; set; }

    [Parameter]
    public bool Compact { get; set; }

    [Parameter]
    public bool Secondary { get; set; }

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public bool Stacked { get; set; }

    [Parameter]
    public bool Raised { get; set; }

    [Parameter]
    public bool Piled { get; set; }

    [Parameter]
    public bool Placeholder { get; set; }

    [Parameter]
    public Orientation Orientation { get; set; } = Horizontal;

    protected override IEnumerable<string> Classes()
    {
        yield return "placeholder".ToClassIf(this.Placeholder);
        yield return "compact".ToClassIf(this.Compact);
        yield return this.Color.ToClass();
        yield return "secondary".ToClassIf(this.Secondary);
        yield return "piled".ToClassIf(this.Piled);
        yield return "stacked".ToClassIf(this.Stacked);
        yield return "raised".ToClassIf(this.Raised);
        yield return "loading".ToClassIf(this.Loading);
        yield return this.Orientation.ToClass(emptyIf: Horizontal);
    }
}
