@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @ChildContent
</div>

@code {
    public Segment() : base("segment")
    {
    }

    [Parameter]
    public Color Color { get; set; }

    [Parameter]
    public SegmentDecorations Decorations { get; set; }

    [Parameter]
    public Position Alignment { get; set; }

    [Parameter]
    public Position Attached { get; set; }

    [Parameter]
    public Position Floated { get; set; }

    [Parameter]
    public Orientation Orientation { get; set; } = Horizontal;

    protected override IEnumerable<string> Classes()
    {
        yield return this.Decorations.ToClass();
        yield return this.Color.ToClass();
        yield return this.Alignment.ToAlignmentClass();
        yield return this.Floated.ToFloatedClass();
        yield return this.Attached.ToAttachedClass();
        yield return this.Orientation.ToClass(emptyIf: Horizontal);
    }
}
