@inherits SemanticComponent
@namespace Sidea.SemanticUI.Blazor

<div class="@Class()">
    @if (!string.IsNullOrWhiteSpace(this.IconName))
    {
        <Icon Name="@IconName" />
    }

    @if (this.HasContent)
    {
        <div class="content">
            @if (this.StepTitle != null)
            {
                <div class="title">
                    @StepTitle
                </div>
            }

            @if (this.StepDescription != null)
            {
                <div class="description">
                    @StepDescription
                </div>
            }
        </div>
    }

    @ChildContent
</div>

@code {
    public Step(): base("step", false)
    {
    }

    [Parameter]
    public string IconName { get; set; }

    [Parameter]
    public StepDecorations Decorations { get; set; }

    [Parameter]
    public RenderFragment StepTitle { get; set; }

    [Parameter]
    public RenderFragment StepDescription { get; set; }

    private bool HasContent => this.StepTitle != null || this.StepDescription != null;

    protected override IEnumerable<string> Classes()
    {
        yield return this.Decorations.ToClass();
    }
}
